*{
  background-color: rgb(11, 5, 34);
}

body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Get-start{
  border-radius: 20px;
  background-color: rgb(24, 2, 63);
  margin-top: 20px;
  
}
InfoSection{
  margin-top: 100px;
  padding-top: 50px;
}
.footer{
  background-color: rgb(7, 7, 160);
  margin-top: 50px;
  padding-top: 50px;

}
